:root {
    --lightPink: #f78fc9;
    --lightPinkHover: #f7abd5;
    --darkPink: #ff4db0;
}

#container {
    max-height: 88vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#imageWrapper {
    display: flex;
}

.image {
    width: 100%;
    z-index: -1;
}

#imageMobile {
    display: none;
}

#textWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5%;
}

#text {
    font-family: 'Poppins', cursive;
    font-size: 3.8rem;
    line-height: 5rem;
    margin-bottom: 1rem;
    color: var(--lightPink);
    text-shadow: 0 2px 2px #AAAAAA;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lightPink);
    border: none;
    border-radius: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Poppins', cursive;
    color: white;
    box-shadow: 0 2px 2px #AAAAAA;
    width: 10rem;
    height: 4rem;
    transition: background 0.2s ease-in;
}

#button:hover {
    cursor: pointer;
    background: var(--darkPink);
    transition: background 0.2s ease-in;
}   

@media screen and (max-width: 425px) {
    #textWrapper {
        left: 0;
        top: 25%;
        width: 100%;
        align-items: center;
    }

    #text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #button {
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .image {
        display: none;
    }

    #imageMobile {
        width: 100vw;
        height: 100vh;
        display: block;
        object-fit: cover;
    }
}