:root {
    --lightPink: #f78fc9;
    --lightPinkHover: #f7abd5;
    --darkPink: #ff4db0;
}

#heroContainer {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#heroImageWrapper {
    display: flex;
}

.heroImage {
    width: 100%;
    z-index: -1;
}

#heroImageMobile {
    display: none;
}

#heroTextWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 5%;
}

#heroText {
    font-family: 'Poppins', cursive;
    font-size: 3.8rem;
    line-height: 5rem;
    margin-bottom: 1rem;
    color: var(--lightPink);
    text-shadow: 0 2px 2px #AAAAAA;
}

#heroButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lightPink);
    border: none;
    border-radius: 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Poppins', cursive;
    color: white;
    box-shadow: 0 2px 2px #AAAAAA;
    width: 10rem;
    height: 4rem;
    transition: background 0.2s ease-in;
}

#heroButton:hover {
    cursor: pointer;
    background: var(--darkPink);
    transition: background 0.2s ease-in;
}   

@media screen and (max-width: 425px) {
    #heroTextWrapper {
        left: 0;
        top: 25%;
        width: 100%;
        align-items: center;
    }

    #heroText {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    #heroButton {
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .heroImage {
        display: none;
    }

    #heroImageMobile {
        width: 100vw;
        height: 100vh;
        display: block;
        object-fit: cover;
    }
}