:root {
    --veryLightPink: #fff2f8;
    --lightPink: #f78fc9;
    --lightPinkHover: #f7abd5;
    --darkPink: #ff4db0;
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    border: 0.1rem solid #cccccc;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.1rem #cccccc;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    transition: transform 0.2s, border 0.2s, box-shadow 0.2s;
}

.product:hover {
    cursor: pointer;
    border: 0.1rem solid var(--lightPink);;
    box-shadow: 0 0.1rem 0.1rem var(--lightPink);;
    transition: transform 0.2s, border 0.2s, box-shadow 0.2s;
}

.product:link {
    text-decoration: none;
    color: inherit;
}

.imageWrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.text {
    padding: 1rem;
}

.price {
    display: flex;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--darkPink);
}

.price h3 {
    font-size: 1.8rem;
}

.oldPrice {
    display: flex;
    color: #AAAAAA;
    margin-right: 0.4rem;
}

/* .buttonWrapper {
    min-height: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
}

.buttonWrapperMobile {
    display: none;
}

.button {
    height: 100%;
    width: 48%;    
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 1px 1px #AAAAAA;
    font-family: 'Poppins', cursive;
    font-size: 1rem;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}

#buyNow {
    color: white;
    background: var(--lightPink);
    transition: background 0.2s ease-in;
}

#buyNow:hover {
    background: var(--darkPink);
    transition: background 0.2s ease-in;
}

#addToCart {
    color: var(--lightPink);
    background: var(--veryLightPink);
    border: 0.1rem solid var(--lightPink);
    transition: color 0.2s ease-in, background 0.2s ease-in, border 0.2s ease-in;
}

#addToCart:hover {
    color: var(--darkPink);
    background: white;
    border: 0.1rem solid var(--darkPink);
    transition: color 0.2s ease-in, background 0.2s ease-in, border 0.2s ease-in;
} */

@media screen and (max-width: 768px) {
    .product {
        height: 90%;
        margin: 0 0.5rem;
    }

    .price h3 {
        font-size: 1.5rem;
    }
    
    .price h4 {
        font-size: 0.8rem;
        line-height: 0.5rem;
    }

    /* .buttonWrapper {
        display: none;
    }

    .buttonWrapperMobile {
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 1rem;
    }

    .button {
        font-size: 1.2rem;
        line-height: 0.2rem;
    } */
}